# Expo / React Native
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
android/
ios/

# EAS
.eas/build

# Environment
.env
.env.local
.env.production